.ez-header {
  background-color: #f0f2f5
  .ez-title {
    margin-right: 200px
  } 
  .ez-link-item {
    display: inline-block
    width: 100px
    text-align: center
    color: rgba(0, 0, 0, 0.65)
    text-decoration: none
    &.ez-link-active {
      font-weight: bold
    }
    &: hover {
      text-decoration: underline
    }
  }
}